.wid-title {
  margin: 0 auto 15px auto;
  text-align: center;
}

.what-i-do {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.wid-cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
@media (max-width: 565px) {
  .wid-title {
    width: 70%;
  }
}
