.navbar div {
  max-width: 100vw;
}

@media (max-width: 650px) {
  .navbar div {
    justify-content: flex-start !important;
  }
}

@media (min-width: 651px) {
  .navbar div {
    justify-content: space-between !important;
  }
  .menu-button {
    display: none;
  }
}
