@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
  @apply bg-dark-background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.float-y {
  position: absolute;
  overflow: hidden;
  animation: float-y 4s linear infinite;
}

.scale-animation {
  animation: scale-up 1 0.3s ease;
  @apply absolute;
}

@keyframes float-y {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.red {
  @apply text-[red];
}

.green {
  @apply text-[green];
}

textarea {
  resize: none;
}

input[type="file"] {
  visibility: hidden;
}

input:focus-visible,
input {
  outline: none !important;
}

.main {
  min-height: calc(100vh - 56px);
  @apply flex items-start justify-start;
}

th,
td,
p,
h1,
h2,
h3,
label {
  @apply text-white;
}

.icon-button {
  @apply w-10 h-10 min-w-[40px] min-h-[40px] text-primary dark:text-primary rounded-full flex items-center justify-center text-xl transition hover:bg-pdark-hover;
}

.secondary.submit {
  @apply border-secondary bg-secondary hover:bg-sdark hover:border-sdark text-white;
}

.primary.submit {
  @apply border-primary bg-primary hover:bg-pdark hover:border-pdark text-white;
}

.submit {
  @apply border-2;
}

.primary.outlined {
  @apply border-primary hover:bg-primary text-white;
}
.secondary.outlined {
  @apply border-secondary hover:bg-primary text-white;
}
.primary.link {
  @apply hover:bg-primary text-white;
}
.secondary.link {
  @apply hover:bg-secondary text-white;
}
.outlined {
  @apply border-2;
}

button {
  @apply transition duration-300 font-semibold;
}

.link {
  @apply transition;
}

.input-control {
  @apply relative w-full flex flex-col items-start justify-start gap-2;
}

.input,
.button {
  @apply px-5 py-2 rounded-3xl transition duration-300;
}

.input:disabled {
  @apply cursor-auto;
}

.small-button {
  @apply px-5 py-1 rounded-3xl;
}

th {
  @apply text-left px-2 py-1;
}

td {
  @apply text-left px-2 py-3;
}

.fixed-loading {
  @apply fixed top-0 left-0 w-full h-screen flex items-center justify-center dark:bg-dark-background2 bg-light-background2 z-30;
}
